---
export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props as Props;

const page_title = title ? "Бууз тоологч" + " - " + title : "Бууз тоологч";
const page_description = description
  ? description
  : "Өрсөн буузныхаа зургийг оруулаад автоматаар тоолуулаарай.";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{page_title}</title>
  <meta name="title" content={page_title} />
  <meta name="description" content={page_description} />
  <meta
    name="keywords"
    content="buuz, buuz counter, buuz toologch, бууз, бууз тоологч, бууз тоолох, автомат бууз тоологч"
  />
  <meta name="author" content="Bilguun Ochirbat" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content={import.meta.env.URL} />
  <meta property="og:title" content={page_title} />
  <meta property="og:description" content={page_description} />
  {image && <meta property="og:image" content={image} />}
</head>
