---
import "@fontsource/ibm-plex-mono"
import "@fontsource/ibm-plex-mono/500.css"
import "@fontsource/ibm-plex-mono/600.css"
import "@fontsource/ibm-plex-mono/700.css"
import "../styles/custom.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="mn" class="dark">
  <Header title={title} description={description} image={image} />
  <body>
    <slot />
    {
      import.meta.env.ANALYTICS_ID && import.meta.env.ANALYTICS_URL && (
        <script
          async
          defer
          data-website-id={import.meta.env.ANALYTICS_ID}
          src={import.meta.env.ANALYTICS_URL}
        />
      )
    }
  </body>
</html>
